.hiraStats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.hiraChart {
    display: flex;

}

.hiraChartLeft {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}