@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


body {
  text-align: center;
  font-family: 'Fredoka One', cursive;
  /* background-image: url("./images/cute-japanese-senior-high-school-students-with-board-free-vector.jpg"); */
  /* background-size: 100%;
  background-repeat:no-repeat;
  background-position:top; */
  background-color: #47CACC;
  margin: 0;
  color: white;
}

h1, h2, h3 {
  text-align: center;
  font-family: 'fredoka one', cursive;
}

.appNameHeader {
  background-color: #A7D676;
  position: relative;
  padding: 1% 2%;
  
}

.englishName {
  font-size: 32px;
  color: white;
  text-align: left;
  display: inline;
  padding: 1% 2%;
}

.japaneseName {
  color: grey;
  display: inline;
  padding: 1% 2%;
  font-weight: bold;
}

.navbar {
  overflow: hidden;
  background-color:#F9E2AE;
}

.navbar a {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  float: left;
  display: inline;
  font-size: 16px;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 100%;
  margin: 0;
}

.navbar a:hover {
  background-color: #F8C78D;
}

.loginPage, .signupComponent {
  font-family: Arial, Helvetica, sans-serif;
  position:absolute;
  background-color: #F8C78D;
  color: white;
  /* width: 30%; */
  padding: 1%;
  /* margin: 5% 35%; */
  border-radius: 8px;
  text-align: right;
}

.information, .gakkou {
  position: absolute;
  margin: 5% 5%;
  align-self: center;

  /* width: 100%; */
}

.hiraContainer {
  display: flex;
  padding: 2%;
  border-radius: 8px;
  text-align: center;
  flex-direction: column;
  
}
.hiraRow {
  display:flex;
  flex-direction: row;
  
}

.hiragana {
  width: 100px;
  height: 100px;
  font-size: 36px;
  padding: 3% 0;
  margin: 1%;
  background-color: #F8C78D;
  border-radius: 8px;
}


.footer {
  background-color: #A7D676;
  font-family: Arial, Helvetica, sans-serif;
  height: 8%;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;

}