@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


body {
  text-align: center;
  font-family: 'Fredoka One', cursive;
  background-image: url("./images/cute-japanese-senior-high-school-students-with-board-free-vector.jpg");
  background-size: 100%;
  background-repeat:no-repeat;
  background-position:top;
  background-color: #4DABC4;
  margin: 0;
  color: white;
}

.appNameHeader {
  background-color: #1D33A5;
  position: relative;
  padding: 1% 8%;
  
}

.englishName {
  font-size: 32px;
  color: white;
  text-align: left;
  display: inline;
  padding: 0 10px;
}

.japaneseName {
  color: #FF3636;
  display: inline;
  padding: 0 10px;
  font-weight: bold;
}

.navbar {
  overflow: hidden;
  background-color: #1E81F5;
}

.navbar a {
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  display: inline;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 100%;
  margin: 0;
}

.navbar a:hover {
  background-color: #FF3636;
}

.loginPage, .signupComponent {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1D33A5;
  color: white;
  width: 350px;
  padding: 5px;
  margin: 20px auto;
  border-radius: 8px;
  text-align: center;
}


.footer {
  background-color: #1E81F5;
  font-family: Arial, Helvetica, sans-serif;
  height: 8%;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;

}